* {
  margin: 0px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.counter {
  display: flex;
  gap: 20px;
}

button,
p {
  padding: 10px;
}
